@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
}

/* CONTAINER */
.home-container{

    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: transparent;
}

/* NAVBAR */

#nav-menu{

    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1.5rem;

}

.nav-items{

    padding: 0.5rem 1rem;
    list-style: none;
    margin-right: 1rem;
}

.nav-items a {

    text-decoration: none;
    color: white;
    font-weight: 200;
}

/* ANSWERS */
.answer-container h1 {

    /*display: inline-block;*/
    color: white;
}

.answer-container {

    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;


}

.answer-container div {

    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.answer-container div input[type="text"] {

    width: 50%;
    background: transparent;
    color: white;
    height: 1.0em;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 20px;
    text-align: center;

}

.answer-container div input[type="button"] {

    margin: 0 0 0 10px;

}

/* INTRO */
.intro-container{

    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.intro{

    color: rgb(231, 231, 231);
    padding: 0 2rem;
}

.intro h1{

    font-weight: 700;
}

.intro p{

    text-align: justify;
    font-weight: 400;
    color: rgb(177, 177, 177);
    width: 85%;
    margin: 1rem 0;
}

.btn{

    padding: 0.5rem 1rem;
    /*margin-top: 2rem;*/
    border: none;
    border-radius: 3rem;
    font-weight: 500;
    cursor: pointer;
    background: rgb(0, 114, 255);
    color: white;
}



.hide{

    display: none;
}


/*  HINTS */

#hints-div{

    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    background: transparent;
    /*background: lightblue;*/
}

#hints-container{

    width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 20px 0 0;

}


#show-hints{

    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#hints ul{

    /*width: 100%;*/
    /*align-self: center;*/
    /*background: red;*/
}

#hints li{

    width: 100%;
    background: red;
}

