
/*  HINTS */

.hints-div{

    /*    width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: end;
        align-items: center;
        background: transparent;*/
    /*background: lightblue;*/
}

.hints-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    position: absolute;
    right: 20px;
    transform: translateY(40%);
    background: transparent;
    /*background: blue;*/
    height: 500px;
    width: 380px;

}


#show-hints{

    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


#hints-div {

    width: 100%;
    text-align: center;
    overflow-y: scroll;
    height: 100%;
    margin-top: 20px;

}


.hints-p{

    /*background: rgba(225,231,245,255);
    color: #D83D61;
    border-radius: 5px;*/
    border-bottom: 10px;
}

.hide{

    display: none;
}

@media(max-width:1056px ) {

    .hints-container{

        all: unset;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        margin: 0 0 20px 0;
        position: absolute;
        bottom: 0;
        height: 150px;
        /*background: blue;*/


    }

    #hints-header{

        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        /*background: orange;*/

    }

    #hints-div p{

        /*all: unset;*/
        /*margin-left: 10px;*/

    }

    #hints-div{

        /*all: unset;*/
        display: flex;
        flex-direction: column;

        width: 60%;
        overflow-y: scroll;
        height: 100%;
        margin-right: 20px;
        /*background: red;*/

    }

    .hide{

        display: none;
    }
}


@media(max-width:800px ) {

    #answer-input{

        transform: scale(0.8);

    }

    .hints-container{

        all: unset;
        width: 100%;
        /*position: absolute;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 0 5px 20px 5px;
        background: transparent;
        /*background: blue;*/


    }

    #hints-header{

        all: unset;
        position: absolute;
        top: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.7);

    }

    /*#hints-div p{

        all: unset;
        text-align: center;
        padding: 10px;

    }*/

    #hints-div{

        all: unset;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        /*margin-bottom: 20px;*/
        /*width: 100%;*/
        width: 80%;
        overflow-y: scroll;
        height: 150px;
        text-align: center;
        /*width: 380px;*/
        transform: translateY(-50%);

    }

    .hide{

        display: none;
    }
}