.skeleton{

    /*opacity: .9;*/
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {

    0%{

        /*background-color: hsl(200, 20%, 70%);*/
        background-color: #f1f1f5;
    }

    100%{

        /*background-color: hsl(200, 20%, 95%);*/
        background-color: #c1c1c1;
    }
}

.skeleton-text{

    border-radius: .125em;
    color: transparent;

}
.skeleton-body-text{

    color: transparent;

}

/*
.skeleton-body-text:first-child{

    height: 3em;
    width: 80%;

}

.skeleton-body-text:nth-child(5){

    width: 50%;
}

.skeleton-body-text:last-child{

    height: 2em;
    width: 40%;
    border-radius: 1.5em;

}*/
